# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio / VS Code
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db

# Builds
*.apk
*.aab
*.exe

# Crash Reports
*.stacktrace
